body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
}
section .first{
    background-color: rgb(57, 96, 57);
    height: 100%;
    width: 35%;
    padding-left: 10px;
    color: rgb(230, 217, 217);
}
section .first .about p{
    font-size: 15px;
    line-height: 2;
}

section .second{
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-left: 10px;

}

.second li{
    font-weight: bolder;
}
.second .edu{
    padding-left: 10px;
}
.second .edu p{
    padding-left: 10px;
}

.first img{
    width: 140px;
    height: 180px;
    border-radius: 50%;
    margin: 35px;
    margin-top: 10px;
}
.contact .footer img{
    height: 20px;
    width: 20px;
    list-style: none;
    text-decoration: none;
}
.second .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second h3{
    padding-left: 10px;
}
@media screen and (max-width: 480px) {
    .first .footer a img{
        margin-left: 10px;
 
    }
    section .first img{
        margin: auto;
        margin-top: 10px;
    }
    .second{
        width: 300px;
    }
    .second .skills{
        display: block;
        
    }
}